html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

/* body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
} */


body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

heading {
  font-size: 24px;
}

papertitle {
  font-weight: 700
}

name {
  font-size: 32px;
}

#introduction {
  width:100%;
  border:0px;
  border-spacing:0px;
  border-collapse:separate;
  margin-right:auto;
  margin-left:auto;
  margin-top: 40px;
}

#news {
  width:100%;
  border:0px;
  border-spacing:0px;
  border-collapse:separate;
  margin-right:auto;
  margin-left:auto;
  font-size: 15px;
}

#publications {
  width:100%;
  border:0px;
  border-spacing:0px;
  border-collapse:separate;
  margin-right:auto;
  margin-left:auto;
}

#ta {
  width:100%;
  border:0px;
  border-spacing:0px;
  border-collapse:separate;
  margin-right:auto;
  margin-left:auto;
}

.topbar a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.paperlinks{
  padding-top: 10px;
}

.ta {
  padding-bottom: 7px;
}

.news 
{
  line-height:150%
}

.profileimage {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #707070,
             -20px -20px 60px #ffffff;
  /* margin-top: 17px; */
}

@media screen and ( max-width: 420px ){
  td>img {
    width: 120px;
    /* height: 70px; */
    border-radius: 50%;
  }
}



/* Boxed style for CV/Github and Publication: abstract/code etc. */

.boxed:hover,.boxed:active {
  text-decoration: underline;
  /* background: #dbc9f1; */
  background: #c9cef1;
  color: #121212 !important
}

.boxed {
  text-decoration: none !important;
  color: #000 !important;
  /* border: 1px solid #839cbf; */
  border: 1px solid #839cbf;
  font-family: monospace;
  padding: 2px 5px 0px;
  font-size: 14px;
  /* background: #d4dce9; */
  background: #FFF8DC;
  margin-left: 4px;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 3px
}

.boxed_publication:hover,.boxed_publication:active {
  text-decoration: underline;
  background: #dedede;
  /* background: #dbc9f1; */
  color: #121212 !important
}
.boxed_publication {
  font-size: 12px;
  background: 	#ffffff;
  padding: 1px 5px 1px;
  margin: 0px;
}