/* Check YT: https://youtu.be/AmY3db_Qs94?t=157
and change to dark mode.
Replace all color values with the respective HSL values. */
/* :root {
  --bg: hsl(0, 0%, 90%);
  --fg: hsl(0, 0%, 10%);
}

@media (prefers-color-scheme:dark) {
  :root {
    --bg: hsl(0, 0%, 10%);
    --fg: hsl(0, 0%, 90%);
  }
} */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

a {
  color: #1772d0;
  text-decoration: none;
  word-wrap: break-word;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body {
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Roboto mono', sans-serif;
  font-size: 16px; */
  /* font-family: "Inconsolata", monospace; */
  font-family: monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding-top: 40px;
}

heading {
  font-size: 24px;
  font-weight: 400;
}

papertitle {
  font-weight: 700
}

name {
  font-size: 32px;
  font-weight: 300;
}
firstname {
  font-size: 32px;
  font-weight: 700;
}

#introduction {
  margin-right: 10px;
  margin-left: 10px;
}

p {
  margin-top: revert;
  margin-bottom: revert;
}

#publications {
  margin-right: 10px;
  margin-left: 10px;
}

#ta {
  margin-right: 10px;
  margin-left: 10px;
}

#academicservice {
  margin-right: 10px;
  margin-left: 10px;
}

.topbar {
  font-weight: 400;
}

.topbar a {
  text-decoration: none;
  color: white;
}

.topbar a:hover {
  text-decoration: underline;
  font-weight: 700;
  color: white;
}

.paperlinks{
  padding-top: 10px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #e9ecef, rgba(0, 0, 0, 0.75), #e9ecef);
}

.abstract_text {
  font-size: 13px;
  margin: 10px 12px 6px 0px; 
}

.bibtex_text {
  font-size: 13px;
  margin: 10px 6px 6px 0px; 
  max-width: 550px !important;
}
@media(max-width:600px){
  .bibtex_text{
    max-width: 600px !important;
  }
 }

.profileimage {
  /* width:70%;
  border-radius:20px;
  background: #e0e0e0;
  margin-left: 0px; */

  /* box-shadow:  20px 20px 60px #707070, -20px -20px 60px #ffffff; */
  height: 220px;
  /* margin-right: 20px; 
  margin-bottom: 20px; */
  margin: 20px;
  margin-left: 0px;
  border-radius: 8px;
  box-shadow: 3px 3px 6px #888;
}

#news 
{
  margin-right: 10px;
  margin-left: 10px;
  line-height: 150%;
}
#news li {
  margin-bottom: 5px;
}


#template-reference {
  font-size: 12px;
  margin: 10px;
}

/* ################################################### */
/* Boxed style for CV/Github and Publication: abstract/code etc. */

.boxed:hover,.boxed:active {
  text-decoration: underline;
  /* background: #dbc9f1; */
  background: #c9cef1;
  color: #121212 !important
}

.boxed {
  text-decoration: none !important;
  color: #000 !important;
  /* border: 1px solid #839cbf; */
  border: 1px solid #839cbf;
  font-family: monospace;
  padding: 2px 5px 0px;
  font-size: 14px;
  /* background: #d4dce9; */
  background: #FFF8DC;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 3px;
  /* margin: 3px; */
}

.boxed_publication:hover,.boxed_publication:active {
  text-decoration: underline;
  background: #dedede;
  /* background: #dbc9f1; */
  color: #121212 !important
}
.boxed_publication {
  font-size: 12px;
  background: 	#ffffff;
  padding: 1px 5px 1px;
  margin: 0px;
}

.badge {
  vertical-align: top;
}
/* ################################################### */
/* #########  END  ########### */
/* ################################################### */





/* ########################### */
/* # Resource Page Stylesheet */
/* ########################### */
.heading-spacing{
  padding-left: 20px;
  padding-bottom: 20px;
}

.listitem-spacing{
  padding-top: 3px;
  padding-bottom: 3px;
}

.resource-heading li{
  margin-top: 5px;
}
/* ########################### */
/* #########  END  ########### */
/* ########################### */


/* ########################### */
/* #########  Glitch Code  ########### */
/* ########################### */
h1 {
  margin: 0;
  line-height: 0;

  animation: glitch1 32.5s infinite;
}

h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 24.5s infinite;
}

h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 16.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
/* ########################### */
/* #########  END  ########### */
/* ########################### */